// handle the padding by hand, easier!
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
//custom search banner customization
.custom-search-banner-wrap {
  margin: 0 auto !important;
  max-width: 1400px;
  color: var(--secondary);
  h1 {
    font-size: 96px;
    font-family: "Inter", sans-serif;
    text-align: left;
    margin-left: 100px;
    margin-top: 120px;
  }
  p {
    font-size: 36px !important;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: left;
    margin-left: 100px;
  }
  .btn {
    height: 100%;
  }
  .search-menu input[type="text"] {
    border: 1px solid transparent;
    border-radius: 0.25em;
    min-height: 40px;
    &:focus {
      outline: 3px solid rgba(var(--primary-rgb), 0.35);
    }
  }
  .widget-link.show-help {
    color: rgba(var(--primary-rgb), 0.75);
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: rgba(var(--secondary-rgb), 0.25);
    &:hover {
      color: var(--primary);
    }
  }
  .search-menu .search-input {
    border-color: var(--tertiary-hover);
    border-radius: 0.5em;
    outline: 1px solid var(--tertiary-hover);
  }
  .results {
    top: 43px;
    border-radius: 0.25em;
  }
  .search-context {
    top: 3.25em;
    right: 1em;
  }
}

.search-input {
  border-radius: 0.25em;
  color: var(--quaternary);
}

.display-search-banner {
  #main-outlet {
    padding-top: 2em;
  }
}

// Main customizations
.alert {
  margin: 1em 0;
}

.topic-list .topic-list-header .topic-list-data,
.topic-list .topic-list-item .topic-list-data {
  width: 100%;
  padding: 1em 1em;
}
.topic-list .topic-list-header .topic-list-data.default {
  padding: 0em, 1em;
}
.navigation-topics .topic-list .topic-list-body .topic-list-data,
.navigation-topics .topic-list .topic-list-header .topic-list-data {
  flex: unset;
}

.badge-wrapper.box {
  border-radius: 0.25em;
  overflow: hidden;
}

.badge-wrapper.bullet {
  .badge-category-bg {
    border-radius: 0.125em;
  }
  .badge-category-parent-bg {
    border-top-left-radius: 0.125em;
    border-bottom-left-radius: 0.125em;
    + .badge-category-bg {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 0.125em;
      border-bottom-right-radius: 0.125em;
    }
  }
}

.discourse-tag {
  // font-size: $font-down-1;
  // border-radius: 0.25em;
  // padding: 0.15em 0.25em 0.15em 0.35em;
  // background-color: var(--primary-low);
  // color: var(--primary) !important;
  // &:hover {
  //   background-color: var(--primary-low-mid);
  //   color: var(--primary);
  // }
  display: none;
}

.discourse-tags .discourse-tag.simple:not(:last-child)::after,
.list-tags .discourse-tag.simple:not(:last-child)::after,
.search-category .discourse-tag.simple:not(:last-child)::after {
  content: "";
  margin-left: unset;
}

#site-text-logo {
  color: var(--primary);
}
.list-controls .navigation-container .category-breadcrumb {
  color: var(--quaternary);
}
.mobile-view {
  .cm-header-links {
    display: none;
  }
  .list-controls .nav-pills .drop li:first-of-type {
    display: none;
  }
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.select-kit.combo-box .select-kit-header,
.d-editor-textarea-wrapper,
div.ac-wrap {
  border-radius: 5px;
}
// .d-header {
//   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
// }

// .d-header-icons .d-icon {
//   border-radius: 100px;
//   color: var(--quaternary);
// }

// .d-header-icons .icon {
//   border-radius: 0.25em;
//   border: 1px solid transparent;
//   svg {
//     font-size: 1.25em;
//   }
// }

// .d-header-icons .icon {
//   border-radius: 0.25em;
// }

.menu-panel.drop-down {
  margin-top: 1em;
  border-radius: 0.5em;
  border: 1px solid var(--primary-low-mid);
}

.drop-down-mode .active .icon {
  border: 1px solid transparent;
  border-radius: 0.25em;
  .d-icon {
    color: var(--tertiary);
  }
}

.drop-down-mode .active .icon:hover {
  border: 1px solid transparent;
  border-radius: 0.25em;
}

.menu-panel .widget-link:hover,
.menu-panel .widget-link:focus,
.menu-panel .categories-link:hover,
.menu-panel .categories-link:focus {
  background-color: rgba(var(--tertiary-rgb), 0.5);
}

.btn:not(.themes-tab):not(.components-tab),
.select-kit.dropdown-select-box .dropdown-select-box-header {
  border-radius: 8px;
  border: 1px solid transparent;
}

.post-admin-menu.popup-menu {
  .btn.widget-button {
    border-radius: 0px;
    color: var(--blue-low-mid);
  }
}

.unread-high-priority-notifications {
  background: var(--quaternary);
}

.timeline-container .topic-timeline .timeline-handle {
  background-color: var(--tertiary);
}

.timeline-container .topic-timeline .timeline-scrollarea {
  border-left-color: var(--tertiary);
}

// graceful ish style
// @mixin box-shadow($value: 0px) {
//   box-shadow: 0 24px 40px rgba(0, 0, 0, 0.07),
//     0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
//     0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
//     0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);
// }
html,
body {
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
  background: #ffffff;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: var(--whitebis);
}

:root {
  --d-max-width: 1410px;
  font-family: "Inter", sans-serif;
}

html body #main-outlet {
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--whitebis);
  padding: 3em 3em 5%;
  max-width: 1400px;
  border-radius: 24px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);

  .archetype-regular & {
    min-height: 500px;
  }
  .archetype-regular .wrap {
    max-width: 1400px;
  }
  @media screen and (max-width: 700px) {
    padding: 1.5em;
    margin-top: 0;
  }
  padding-bottom: 5% !important; //overriding inline style
  // @include box-shadow;
  @media screen and (max-width: 1120px) {
    width: 80%;
  }
  @media screen and (max-width: 1075px) {
    width: 85%;
  }
}

.nav-pills:not(.user-nav) > li a.active,
.nav-pills:not(.user-nav) > li > a {
  border-radius: 0.5em;
}

// Topic List

// @keyframes background-fade-highlight {
//   0% {
//     background-color: var(--highlight-low);
//   }
//   100% {
//     background-color: var(--secondary);
//   }
// }

.full-width .contents .topic-list {
  border-collapse: separate;
  border-spacing: 0 0.25em;
  display: contents;

  .topic-list-header {
    min-width: 100%;
    .topic-list-data.default {
      width: 76%;
    }
    .topic-list-data.num.posts-map.posts {
      width: 8%;
    }
    .topic-list-data.num.views {
      width: 8%;
    }
    .topic-list-data.num.age {
      width: 8%;
    }
  }
  .topic-list-item {
    .topic-list-data.default {
      width: 76%;
    }
    .topic-list-data.num.posts-map.posts {
      width: 8%;
    }
    .topic-list-data.num.views {
      width: 8%;
    }
    .topic-list-data.num.age {
      width: 8%;
    }
  }
  .topic-list-body {
    display: contents;
    .topic-list-item-separator {
      width: 100%;
      display: flex;
      .topic-list-data {
        width: 100%;
      }
    }
    .topic-list-item {
      width: 100%;
      display: flex;
      margin-bottom: 0.5em;
      background-color: var(--white);
      border: 1px solid rgba(var(--primary-rgb), 0.2);
      border-radius: 1em;
      position: relative;
      overflow: hidden;

      &.visited {
        border: 1px solid rgba(var(--primary-rgb), 0.1);
      }
      .topic-list-data.default {
        width: 76%;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .topic-list-data.num.posts-map.posts {
        width: 8%;
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .topic-list-data.num.views {
        width: 8%;
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .topic-list-data.age {
        width: 8%;
        order: 4;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.full-width .contents .topic-list .topic-list-item a.latest {
  // margin-right: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.full-width .contents .topic-list {
  .topic-list-item {
    .main-link {
      min-height: 100%;
      .link-top-line {
        display: block;
        // margin-bottom: 0.25em;
      }
      .title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 170%;
      }
    }
    .posts-map {
      position: relative;
      // .number {
      //   margin-right: 0.25em;
      // }
    }
    .post-activity {
      // .d-icon-reply {
      //   color: var(--primary-medium);
      //   margin-right: 0.25em;
      // }
      .relative-date {
        color: var(--primary-medium);
      }
      .num.age.activity {
        a {
          padding: 0;
        }
      }
    }
  }
}

.navigation-container {
  // margin-top: 2em;
  color: var(--quaternary) !important;
}

// published page additions
.published-page-content-wrapper {
  max-width: 1400px;
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--secondary);
  border-radius: 1em;
  padding: 3em 3em 5%;
  // box-shadow: 0 24px 40px rgba(0, 0, 0, 0.07),
  //   0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
  //   0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
  //   0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);
  z-index: 1;
  position: relative;
}

.published-page {
  .background-container {
    display: none;
  }
  &::before {
    background: linear-gradient(
      90deg,
      var(--tertiary-hover) 0%,
      var(--tertiary) 100%
    );
    clip-path: ellipse(148% 70% at 91% -14%);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 0;
  }
}

.quote-button {
  background-color: var(--blue-low-mid);
  border-radius: 0.5em;
}

td.posters.topic-list-data {
  display: none;
}
a.badge-wrapper.bullet .category-name {
  display: none;
}

//this is working
tr.topic-list-item.category-governance-governance
  td.main-link.clearfix.topic-list-data
  div.link-bottom-line
  a.badge-wrapper.bullet
  span.badge-category
  span.category-name {
  display: none;
}

tr.topic-list-item.category-governance-governance
  td.main-link.clearfix.topic-list-data
  div.link-bottom-line
  a.badge-wrapper.bullet
  span.badge-category {
  display: none;
}
tr.topic-list-item.category-governance-governance
  td.main-link.clearfix.topic-list-data
  div.link-bottom-line
  a.badge-wrapper.bullet
  span.badge-category
  span.badge-category-parent-bg {
  display: none;
}

.badge-category-parent-bg,
.badge-category-bg {
  background-color: transparent !important;
}
th.posters.topic-list-data {
  display: none;
}
